.bg-black-10
  background-color: rgba(#000, .1) !important

.bg-black-15
  background-color: rgba(#000, .15) !important

.bg-black-20
  background-color: rgba(#000, .2) !important

.bg-black-25
  background-color: rgba(#000, .25) !important

.bg-black-30
  background-color: rgba(#000, .3) !important

.bg-black-35
  background-color: rgba(#000, .35) !important

.bg-black-40
  background-color: rgba(#000, .4) !important

.bg-black-45
  background-color: rgba(#000, .45) !important

.bg-clip-padding
  -moz-background-clip: padding
  -webkit-background-clip: padding
  background-clip: padding-box