.invert100
  filter: invert(1)

.invert90
  filter: invert(.9)

.invert80
  filter: invert(.8)

.invert70
  filter: invert(.7)

.invert60
  filter: invert(.6)

.invert50
  filter: invert(.5)

.invert40
  filter: invert(.4)

.invert30
  filter: invert(.3)

.invert20
  filter: invert(.2)

.invert10
  filter: invert(.1)