.hover-scale-20
  transition: transform 300ms ease

  &:hover
    transform: scale(1.2)

.hover-scale-10
  transition: transform 300ms ease

  &:hover
    transform: scale(1.1)

.hover-scale-5
  transition: transform 300ms ease

  &:hover
    transform: scale(1.05) !important

.hover-scale-4
  transition: transform 300ms ease

  &:hover
    transform: scale(1.04) !important

.hover-scale-3
  transition: transform 300ms ease

  &:hover
    transform: scale(1.03) !important

.hover-scale-2
  transition: transform 300ms ease

  &:hover
    transform: scale(1.02) !important