.fr {
  display: flex;
  flex-direction: row;
}

.fc {
  display: flex;
  flex-direction: column;
}

.frc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.frcc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.frcs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.frce {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.frcb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.frc-st {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.frs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.frsc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.frss {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.frse {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.frsb {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.frs-st {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.fre {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.frec {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.fres {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.free {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.freb {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}

.fre-st {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
}

.frb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.frbc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.frbs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.frbe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.frbb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.frb-st {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.fra {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.frac {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fras {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.frae {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.frab {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.fra-st {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.fr-ev {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fr-ev-c {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.fr-ev-s {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.fr-ev-e {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.fr-ev-b {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.fr-ev-st {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.fr-st {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.fr-st-c {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.fr-st-s {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
}

.fr-st-e {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-end;
}

.fr-st-b {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: baseline;
}

.fr-st-st {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.fcc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fccc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fccs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.fcce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.fccb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.fcc-st {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.fcs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fcsc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.fcss {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.fcse {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.fcsb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.fcs-st {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.fce {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fcec {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.fces {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.fcee {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.fceb {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
}

.fce-st {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.fcb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fcbc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fcbs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.fcbe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.fcbb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.fcb-st {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.fca {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fcac {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fcas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.fcae {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.fcab {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
}

.fca-st {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.fc-ev {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fc-ev-c {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.fc-ev-s {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.fc-ev-e {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.fc-ev-b {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
}

.fc-ev-st {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.fc-st {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.fc-st-c {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.fc-st-s {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
}

.fc-st-e {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-end;
}

.fc-st-b {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: baseline;
}

.fc-st-st {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

/*# sourceMappingURL=layout.css.map */
