.pt-1px
  padding-top: 1px

.pt-2px
  padding-top: 2px

.pt-3px
  padding-top: 3px

.pt-4px
  padding-top: 4px

.pt-5px
  padding-top: 5px

.pe-1px
  padding-right: 1px

.pe-2px
  padding-right: 2px

.pe-3px
  padding-right: 3px

.pe-4px
  padding-right: 4px

.pe-5px
  padding-right: 5px

.ps-1px
  padding-left: 1px

.ps-2px
  padding-left: 2px

.ps-3px
  padding-left: 3px

.ps-4px
  padding-left: 4px

.ps-5px
  padding-left: 5px

.pb-1px
  padding-bottom: 1px

.pb-2px
  padding-bottom: 2px

.pb-3px
  padding-bottom: 3px

.pb-4px
  padding-bottom: 4px

.pb-5px
  padding-bottom: 5px