.h-min
  height: min-content

.h-max
  height: max-content

.w-min
  width: min-content

.w-max
  width: max-content

.w-100vw
  width: 100vw

.h-100vh
  height: 100vh

.mw-100vw
  max-width: 100vw

.mh-100vh
  max-height: 100vh


@for $i from 0 through 20
  .w-#{5 * $i}vw
    width: (5 * $i) * 1% + vw

@for $i from 0 through 20
  .h-#{5 * $i}vh
    height: (5 * $i) * 1 + vh

// Процентные шаги с шагом в 2%
@for $i from 0 through 50
  .w-#{2 * $i}
    width: (2 * $i) * 1%

@for $i from 0 through 50
  .h-#{2 * $i}
    height: (2 * $i) * 1%

// Max width
@for $i from 0 through 200
  .maxw-#{10 * $i}px
    max-width: #{10 * $i}px !important

@for $i from 0 through 200
  .maxh-#{10 * $i}px
    max-height: #{10 * $i}px !important

// Max width с шагом в 2%
@for $i from 1 through 50
  .maxw-#{2 * $i}
    max-width: #{2 * $i + "%"} !important

@for $i from 1 through 50
  .maxh-#{2 * $i}
    max-height: #{2 * $i + "%"} !important

@for $i from 2 through 20
  .maxw-#{5 * $i}vw
    max-width: #{5 * $i + "vw"} !important

@for $i from 2 through 20
  .maxh-#{5 * $i}vh
    max-height: #{5 * $i + "vh"} !important

// Min width
@for $i from 0 through 200
  .minw-#{10 * $i}px
    min-width: #{10 * $i}px !important

@for $i from 0 through 200
  .minh-#{10 * $i}px
    min-height: #{10 * $i}px !important

// Min width с шагом в 2%
@for $i from 1 through 50
  .minw-#{2 * $i}
    min-width: #{2 * $i + "%"} !important

@for $i from 1 through 50
  .minh-#{2 * $i}
    min-height: #{2 * $i + "%"} !important

@for $i from 2 through 20
  .minw-#{5 * $i}vw
    min-width: #{5 * $i + "vw"} !important

@for $i from 2 through 20
  .minh-#{5 * $i}vh
    min-height: #{5 * $i + "vh"} !important