.h-min
  height: min-content

.h-max
  height: max-content

.w-min
  width: min-content

.w-max
  width: max-content

.w-100vw
  width: 100vw

.h-100vh
  height: 100vh

.mw-100vw
  max-width: 100vw

.mh-100vh
  max-height: 100vh


@for $i from 0 through 20
  .w-#{5 * $i}vw
    width: (5 * $i) * 1% + vw

@for $i from 0 through 20
  .h-#{5 * $i}vh
    height: (5 * $i) * 1 + vh


@for $i from 0 through 20
  .w-#{5 * $i}
    width: (5 * $i) * 1%

@for $i from 0 through 20
  .h-#{5 * $i}
    height: (5 * $i) * 1%


@for $i from 0 through 40
  .mw-#{50 * $i}px
    max-width: #{50 * $i}px !important

@for $i from 0 through 40
  .mh-#{50 * $i}px
    max-height: #{50 * $i}px !important

@for $i from 2 through 20
  .mw-#{5 * $i}
    max-width: #{5 * $i + "%"} !important

@for $i from 2 through 20
  .mh-#{5 * $i}
    max-height: #{5 * $i + "%"} !important


@for $i from 2 through 20
  .mw-#{5 * $i}vw
    max-width: #{5 * $i + "vw"} !important

@for $i from 2 through 20
  .mh-#{5 * $i}vh
    max-height: #{5 * $i + "vh"} !important