.fw-1
  font-weight: 100 !important

.fw-2
  font-weight: 200 !important

.fw-3
  font-weight: 300 !important

.fw-4
  font-weight: 400 !important

.fw-5
  font-weight: 500 !important

.fw-6
  font-weight: 600 !important

.fw-7
  font-weight: 700 !important

.fw-8
  font-weight: 800 !important

.fw-9
  font-weight: 900 !important

.fw-10
  font-weight: 1000 !important

.text-white-95
  color: rgb(242, 242, 242) !important

.text-white-90
  color: rgb(230, 230, 230) !important

.text-white-85
  color: rgb(217, 217, 217) !important

.text-white-80
  color: rgb(204, 204, 204) !important

.text-white-75
  color: rgb(191, 191, 191) !important

.text-white-70
  color: rgb(178, 178, 178) !important

.text-white-65
  color: rgb(166, 166, 166) !important

.text-white-60
  color: rgb(153, 153, 153) !important

.text-white-55
  color: rgb(140, 140, 140) !important

.text-white-45
  color: rgb(127, 127, 127) !important

.text-white-40
  color: rgb(114, 114, 114) !important

.text-white-35
  color: rgb(101, 101, 101) !important

.text-white-30
  color: rgb(88, 88, 88) !important

.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.color-inherit
  color: inherit