.transition-d-50
  transition-duration: 50ms

.transition-d-100
  transition-duration: 100ms

.transition-d-150
  transition-duration: 150ms

.transition-d-200
  transition-duration: 200ms

.transition-d-300
  transition-duration: 300ms

.transition-d-400
  transition-duration: 400ms

.transition-d-500
  transition-duration: 500ms

.transition-d-1000
  transition-duration: 1000ms

.transition-d-2000
  transition-duration: 1000ms

.transition-d-5000
  transition-duration: 1000ms

.transition-tf-eio
  transition-timing-function: ease-in-out

.transition-tf-e
  transition-timing-function: ease

.transition-tf-ei
  transition-timing-function: ease-in

.transition-tf-eo
  transition-timing-function: ease-out

.transition-tf-l
  transition-timing-function: linear

.transition-all
  transition-property: all